@model GymSystem2.Models.Plan
@{
    ViewData["Title"] = "CreatePlans";
    Layout = "~/views/shared/TrainerLayout.cshtml";

}
<div style="margin-left: 20px !important;">
    <h1>Create Plan</h1>
    <hr />
    <div class="row" style="margin-left: 20px !important;">
        <div class="col-md-4">
            <form asp-action="CreatePlans">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Planname" class="control-label"></label>
                    <input asp-for="Planname" class="form-control" />
                    <span asp-validation-for="Planname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div style="margin-left: 20px!important;">
        <a asp-action="Plans">Back to List</a>
    </div>
</div>

