@using System.Security.Claims

@{
    // استخراج RoleId من Claims
    var roleIdClaim = User.Claims.FirstOrDefault(c => c.Type == "RoleId");
    var Roleid = roleIdClaim != null ? int.Parse(roleIdClaim.Value) : 0; // القيمة الافتراضية 0 إذا لم يكن claim موجودًا

    ViewData["Title"] = "MemberDashboard";
    Layout = "~/Views/Shared/MemberLayout.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Submit Your Feedback</h6>
                <form asp-controller="Member" asp-action="SubmitFeedback" method="post">
                    <div class="mb-3">
                        <label for="FeedbackContent" class="form-label">Feedback</label>
                        <textarea class="form-control" id="FeedbackContent" name="Content" rows="4" placeholder="Write your feedback here..." required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit Feedback</button>
                </form>
            </div>
        </div>
    </div>

    
</div>


<!-- Table End -->
