@model GymSystem2.Models.User

@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<h2 style="margin-top: 10px; text-align: center;">Edit Your Profile</h2>

<form asp-action="EditMember" asp-controller="Home" method="post" style="max-width: 500px; margin: 20px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: #191c24;">
    <div class="mb-3">
        <label asp-for="Profile.Fname" class="form-label">First Name</label>
        <input asp-for="Profile.Fname" class="form-control" />
        <input type="hidden" asp-for="Userid" />
    </div>

    <div class="mb-3">
        <label asp-for="Profile.Lname" class="form-label">Last Name</label>
        <input asp-for="Profile.Lname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Profile.Gender" class="control-label">Gender</label>
        <select asp-for="Profile.Gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

    </div>
    <div class="mb-3">
        <label asp-for="Profile.ImageFile" class="form-label">Your Image</label>
        <input asp-for="Profile.ImageFile" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">
        <button type="submit" class="btn btn-success" style="width: 48%;">Save Changes</button>
        <a asp-action="MemberDashboard" class="btn btn-secondary" style="width: 48%;">Cancel</a>
    </div>
</form>

<div style="text-align: center; margin-top: 20px;">
    <a asp-action="MemberDashboard" class="btn btn-secondary">Back</a>
</div>
